body { min-height: 100vh; display: flex; flex-direction: column; }
header{ } 

main{flex-grow: 1;}

.strech{
  height: 50vh;
}

.bg-cogs{
  background-image: url("./giphy.gif");
  background-position: center center;
  background-size: cover;
}
.text-shadow-seconday{
  text-shadow: 1px 1px 5px var(--dark);
}
.click-obj{
  height: 50vh;
  width: 25%;
  background-image: url("./maincog.png");
  background-position: center center;
  background-size: cover;
}

footer{ }